<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.ems_bws.dao.EmsBwsDtMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.powerbridge.bssp.ems_bws.entity.EmsBwsDt">
		<id column="UID" property="uid" />
		<result column="BWS_NO" property="bwsNo" />
		<result column="CHG_TMS_CNT" property="chgTmsCnt" />
		<result column="GDS_SEQNO" property="gdsSeqno" />
		<result column="IN_DATE" property="inDate" />
		<result column="GDS_MTNO" property="gdsMtno" />
		<result column="GDECD" property="gdecd" />
		<result column="GDS_NM" property="gdsNm" />
		<result column="GDS_SPCF_MODEL_DESC" property="gdsSpcfModelDesc" />
		<result column="NATCD" property="natcd" />
		<result column="DCL_UNITCD" property="dclUnitcd" />
		<result column="LAWF_UNITCD" property="lawfUnitcd" />
		<result column="SECD_LAWF_UNITCD" property="secdLawfUnitcd" />
		<result column="DCL_UPRC_AMT" property="dclUprcAmt" />
		<result column="DCL_CURRCD" property="dclCurrcd" />
		<result column="AVG_PRICE" property="avgPrice" />
		<result column="TOTAL_AMT" property="totalAmt" />
		<result column="IN_QTY" property="inQty" />
		<result column="IN_LAWF_QTY" property="inLawfQty" />
		<result column="IN_SECD_LAWF_QTY" property="inSecdLawfQty" />
		<result column="ACTL_INC_QTY" property="actlIncQty" />
		<result column="ACTL_REDC_QTY" property="actlRedcQty" />
		<result column="PREVD_INC_QTY" property="prevdIncQty" />
		<result column="PREVD_REDC_QTY" property="prevdRedcQty" />
		<result column="OUT_DATE" property="outDate" />
		<result column="LIMIT_DATE" property="limitDate" />
		<result column="IN_TYPE" property="inType" />
		<result column="INVT_NO" property="invtNo" />
		<result column="INVT_G_NO" property="invtGNo" />
		<result column="CUSM_EXE_MARKCD" property="cusmExeMarkcd" />
		<result column="RMK" property="rmk" />
		<result column="MODF_MARKCD" property="modfMarkcd" />
		<result column="ETPS_PREENT_NO" property="etpsPreentNo" />
		<result column="SEQ_NO" property="seqNo" />
	</resultMap>
	<!--基本字段 -->
	<sql id="Base_Column_List">
		A.UID AS UID,
		A.BWS_NO AS BWSNO,
		A.CHG_TMS_CNT AS CHGTMSCNT,
		A.GDS_SEQNO AS GDSSEQNO,
		A.IN_DATE AS INDATE,
		A.GDS_MTNO AS GDSMTNO,
		A.GDECD AS GDECD,
		A.GDS_NM AS GDSNM,
		A.GDS_SPCF_MODEL_DESC AS GDSSPCFMODELDESC,
		D.COUNTRY_NA AS NATCD,
		A.DCL_UNITCD AS DCLUNITCD,
		A.LAWF_UNITCD AS LAWFUNITCD,
		A.SECD_LAWF_UNITCD AS SECDLAWFUNITCD,
		A.DCL_UPRC_AMT AS DCLUPRCAMT,
		A.DCL_CURRCD AS DCLCURRCD,
		A.AVG_PRICE AS AVGPRICE,
		A.TOTAL_AMT AS TOTALAMT,
		A.IN_QTY AS INQTY,
		A.IN_LAWF_QTY AS INLAWFQTY,
		A.IN_SECD_LAWF_QTY AS INSECDLAWFQTY,
		A.ACTL_INC_QTY AS ACTLINCQTY,
		A.ACTL_REDC_QTY AS ACTLREDCQTY,
		A.PREVD_INC_QTY AS PREVDINCQTY,
		A.PREVD_REDC_QTY AS PREVDREDCQTY,
		A.OUT_DATE AS OUTDATE,
		A.LIMIT_DATE AS LIMITDATE,
		A.IN_TYPE AS INTYPE,
		A.INVT_NO AS INVTNO,
		A.INVT_G_NO AS INVTGNO,
		A.CUSM_EXE_MARKCD AS CUSMEXEMARKCD,
		A.RMK AS RMK,
		A.MODF_MARKCD AS MODFMARKCD,
		A.ETPS_PREENT_NO AS ETPSPREENTNO,
		A.SEQ_NO AS SEQNO
	</sql>
	<!--根据单据编号查询单损耗 -->
	<select id="selectEmsBwsDtList" resultType="com.powerbridge.bssp.ems_bws.entity.EmsBwsDt">
		SELECT
		<include refid="Base_Column_List"/>
		FROM EMS_BWS_DT A
		LEFT JOIN BSSP_COD.COD_CUS_COUNTRY D ON D.COUNTRY_CO = A.NATCD <!-- 国别代码 -->
		WHERE A.SEQ_NO = #{seqNo} AND A.CHG_TMS_CNT = #{chgTmsCnt}
	</select>
</mapper>
