<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.saspass.dao.SasPassportCusRltMapper">
    <resultMap id="BaseResultMap" type="com.powerbridge.bssp.saspass.entity.SasPassportCusRlt">
        <id column="UID" jdbcType="VARCHAR" property="uid"/>
        <result column="SEQ_NO" jdbcType="VARCHAR" property="seqNo"/>
        <result column="PASSPORT_NO" jdbcType="VARCHAR" property="passportNo"/>
        <result column="RLT_TB_TYPECD" jdbcType="VARCHAR" property="rltTbTypecd"/>
        <result column="RLT_NO" jdbcType="VARCHAR" property="rltNo"/>
        <result column="ETPS_PREENT_NO" jdbcType="VARCHAR" property="etpsPreentNo"/>
        <result column="COP_ENT_NO" jdbcType="VARCHAR" property="copEntNo"/>
        <result column="BIZOP_ETPS_NM" jdbcType="VARCHAR" property="bizopEtpsNm"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        A.UID AS uid, A.SEQ_NO AS seqNo, A.PASSPORT_NO AS passportNo, A.RLT_TB_TYPECD AS rltTbTypecd, A.RLT_NO AS rltNo,
        A.ETPS_PREENT_NO AS etpsPreentNo, A.COP_ENT_NO AS copEntNo, A.BIZOP_ETPS_NM AS bizopEtpsNm, A.CREATE_BY AS createBy,
        A.CREATE_NAME AS createName, A.CREATE_TIME AS createTime, A.UPDATE_BY AS updateBy, A.UPDATE_NAME AS updateName,
        A.UPDATE_TIME AS updateTime, B.ATTR_NAME AS rltTbTypecdName
    </sql>
    <sql id="Base_Join_Clause">
        LEFT JOIN BSSP_COD.COD_STD_CODES B on B.ATTR_VALUE = A.RLT_TB_TYPECD and B.DICTIONARY_VALUE = 'RLT_TB_TYPECD'<!--关联单证类型-->
    </sql>

    <select id="selectBySasPassportCusRlt" resultType="com.powerbridge.bssp.saspass.entity.SasPassportCusRlt">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SAS_PASSPORT_CUS_RLT A
        <include refid="Base_Join_Clause"/>
        <where>
            1 = 1
            <if test="passportNo != null and passportNo !=''">
                and A.PASSPORT_NO = #{passportNo}<!--核放单编号-->
            </if>
            <if test="seqNo != null and seqNo !=''">
                and A.SEQ_NO = #{seqNo}
            </if>
        </where>
    </select>
    <!--根据条件批量查找-->
    <select id="selectByRltNosAndSeqNo" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SAS_PASSPORT_CUS_RLT A
        <include refid="Base_Join_Clause"/>
        <where>
            1 =1
            AND RLT_NO IN
            <foreach collection="rltNos" item="rltNo" open="(" close=")" separator=",">
                #{rltNo}
            </foreach>
            <if test="seqNo != null and seqNo !=''">
                AND A.SEQ_NO = #{seqNo}
            </if>
        </where>
    </select>

    <!-- 批量插入 -->
    <insert id="insertByBatch" parameterType="java.util.List">
        INSERT INTO SAS_PASSPORT_CUS_RLT
        (UID,SEQ_NO,PASSPORT_NO,RLT_TB_TYPECD,RLT_NO,ETPS_PREENT_NO,COP_ENT_NO,BIZOP_ETPS_NM,
        CREATE_BY,CREATE_NAME,CREATE_TIME,UPDATE_BY,UPDATE_NAME,UPDATE_TIME,CHG_TMS_CNT)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.uid},
            #{item.seqNo},
            #{item.passportNo},
            #{item.rltTbTypecd},
            #{item.rltNo},
            #{item.etpsPreentNo},
            #{item.copEntNo},
            #{item.bizopEtpsNm},
            #{item.createBy},
            #{item.createName},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateName},
            #{item.updateTime},
            #{item.chgTmsCnt})
        </foreach>
    </insert>

</mapper>