<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.ems.dao.EmsPutrecAcmpFormDtMapper">
	<!--基本字段-->
	<sql id="Base_Column_List">
		A.UID,A.EMS_NO AS EMSNO,A.CHG_TMS_CNT AS CHGTMSCNT,A.ACMP_FORM_SEQNO AS ACMPFORMSEQNO,A.ACMP_FORM_TYPECD AS ACMPFORMTYPECD
		,A.ACMP_FORM_NO AS ACMPFORMNO,A.FIXD_NO AS FIXDNO,A.ACMP_FORM_FILE_NM AS ACMPFORMFILENM,A.ACMP_FORM_FILE_SIZE AS ACMPFORMFILESIZE
		,A.ETPS_PREENT_NO AS ETPSPREENTNO,A.RMK AS RMK,A.SEQ_NO AS SEQNO,A.CREATE_BY AS CREATEBY,A.CREATE_NAME AS CREATENAME
		,A.CREATE_TIME AS CREATETIME,A.UPDATE_BY AS UPDATEBY,A.UPDATE_NAME AS UPDATENAME,A.UPDATE_TIME AS UPDATETIME
		,B.ATTR_NAME AS ACMPFORMTYPENM
	</sql>
	<select id="selectEmsPutrecAcmpFormDtList" resultType="com.powerbridge.bssp.ems.entity.EmsPutrecAcmpFormDt">
		SELECT
		<include refid="Base_Column_List"/>
		FROM EMS_PUTREC_ACMP_FORM_DT A
        LEFT JOIN BSSP_COD.COD_STD_CODES B ON B.ATTR_VALUE = A.ACMP_FORM_TYPECD AND B.DICTIONARY_VALUE='ACMP_FORM_TYPECD' <!--随附单证类型-->
		WHERE A.SEQ_NO = #{seqNo}  AND A.CHG_TMS_CNT = #{chgTmsCnt}
	</select>
	<!-- 获取最大的序号-->
	<select id="getMaxacmpFormSeqno" resultType="java.math.BigDecimal">
		SELECT MAX(ACMP_FORM_SEQNO) AS ACMPFORMSEQNO
		FROM EMS_PUTREC_ACMP_FORM_DT
		WHERE SEQ_NO = #{seqNo} <!-- 单据编号-->
	</select>
</mapper>
