<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.sas.dao.SasVehicleIRegMapper">
  <resultMap id="BaseResultMap" type="com.powerbridge.bssp.sas.entity.SasVehicleIReg">
    <id column="UID" jdbcType="VARCHAR" property="uid" />
    <result column="VEHICLE_NO" jdbcType="VARCHAR" property="vehicleNo" />
    <result column="PLATE_TYPECD" jdbcType="VARCHAR" property="plateTypecd" />
    <result column="VEHICLE_TYPECD" jdbcType="VARCHAR" property="vehicleTypecd" />
    <result column="ClEARANCE_TYPE" jdbcType="VARCHAR" property="clearanceType" />
    <result column="ETPS_PREENT_NO" jdbcType="VARCHAR" property="etpsPreentNo" />
    <result column="VEHICLE_REG_FLAG" jdbcType="VARCHAR" property="vehicleRegFlag" />
    <result column="VEHICLE_WT" jdbcType="DECIMAL" property="vehicleWt" />
    <result column="VEHICLE_IC_NO" jdbcType="VARCHAR" property="vehicleIcNo" />
    <result column="IC_NO" jdbcType="VARCHAR" property="icNo" />
    <result column="IC_TYPECD" jdbcType="VARCHAR" property="icTypecd" />
    <result column="TRANS_TYPECD" jdbcType="VARCHAR" property="transTypecd" />
    <result column="I_REG_DATE" jdbcType="TIMESTAMP" property="iRegDate" />
    <result column="THIS_VALIDATE_DATE" jdbcType="TIMESTAMP" property="thisValidateDate" />
    <result column="I_TRANS_TYPE_CODE" jdbcType="VARCHAR" property="iTransTypeCode" />
    <result column="I_TRANS_NO" jdbcType="VARCHAR" property="iTransNo" />
    <result column="I_TRANS_NO1" jdbcType="VARCHAR" property="iTransNo1" />
    <result column="I_VEHICLE_FRAME_NO" jdbcType="VARCHAR" property="iVehicleFrameNo" />
    <result column="I_VEHICLE_FRAME_WT" jdbcType="DECIMAL" property="iVehicleFrameWt" />
    <result column="I_AREAIN_ETPSNO" jdbcType="VARCHAR" property="iAreainEtpsno" />
    <result column="I_AREA_CODE" jdbcType="VARCHAR" property="iAreaCode" />
    <result column="I_COP_ENT_NO" jdbcType="VARCHAR" property="iCopEntNo" />
    <result column="I_FLOW" jdbcType="VARCHAR" property="iFlow" />
    <result column="I_CHK_EMAPV_MARKCD" jdbcType="VARCHAR" property="iChkEmapvMarkcd" />
    <result column="IC_RECYCE_TIME" jdbcType="TIMESTAMP" property="icRecyceTime" />
    <result column="E_TRANS_TYPE" jdbcType="VARCHAR" property="eTransType" />
    <result column="E_TRANS_NO" jdbcType="VARCHAR" property="eTransNo" />
    <result column="E_TRANS_NO1" jdbcType="VARCHAR" property="eTransNo1" />
    <result column="E_VEHICLE_FRAME_WT" jdbcType="DECIMAL" property="eVehicleFrameWt" />
    <result column="E_AREAIN_ETPSNO" jdbcType="VARCHAR" property="eAreainEtpsno" />
    <result column="E_AREA_CODE" jdbcType="VARCHAR" property="eAreaCode" />
    <result column="EI_COP_ENT_NO" jdbcType="VARCHAR" property="eiCopEntNo" />
    <result column="E_FLOW" jdbcType="VARCHAR" property="eFlow" />
    <result column="E_CHK_EMAPV_MARKCD" jdbcType="VARCHAR" property="eChkEmapvMarkcd" />
    <result column="WORK_FLAG_CODE" jdbcType="VARCHAR" property="workFlagCode" />
    <result column="RMK" jdbcType="VARCHAR" property="rmk" />
    <result column="MASTER_CUSCD" jdbcType="VARCHAR" property="masterCuscd" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="BIZ_TYPE" jdbcType="VARCHAR" property="bizType" />
    <result column="CHK_STATUS" jdbcType="VARCHAR" property="chkStatus" />
    <result column="DOC_TYPE" jdbcType="VARCHAR" property="docType" />
    <result column="RET_CHANNEL" jdbcType="VARCHAR" property="retChannel" />
    <result column="DEC_TIME" jdbcType="TIMESTAMP" property="decTime" />
    <result column="CHK_TIME" jdbcType="TIMESTAMP" property="chkTime" />
    <result column="SEQ_NO" jdbcType="VARCHAR" property="seqNo" />
    <result column="DCl_TYPECD" jdbcType="VARCHAR" property="dclTypecd" />
    <result column="INPUTER_CODE" jdbcType="VARCHAR" property="inputerCode" />
    <result column="INPUTER_NAME" jdbcType="VARCHAR" property="inputerName" />
    <result column="INPUT_COP_NO" jdbcType="VARCHAR" property="inputCopNo" />
    <result column="INPUT_COP_NAME" jdbcType="VARCHAR" property="inputCopName" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    UID AS uid,
    VEHICLE_NO AS vehicleNo,
    PLATE_TYPECD AS plateTypecd,
    VEHICLE_TYPECD AS vehicleTypecd,
    ClEARANCE_TYPE AS clearanceType,
    ETPS_PREENT_NO AS etpsPreentNo,
    VEHICLE_REG_FLAG AS vehicleRegFlag,
    VEHICLE_WT AS vehicleWt,
    VEHICLE_IC_NO AS vehicleIcNo,
    IC_NO AS icNo,
    IC_TYPECD AS icTypecd,
    TRANS_TYPECD AS transTypecd,
    I_REG_DATE AS iRegDate,
    THIS_VALIDATE_DATE AS thisValidateDate,
    I_TRANS_TYPE_CODE AS iTransTypeCode,
    I_TRANS_NO AS iTransNo,
    I_TRANS_NO1 AS iTransNo1,
    I_VEHICLE_FRAME_NO AS iVehicleFrameNo,
    I_VEHICLE_FRAME_WT AS iVehicleFrameWt,
    I_AREAIN_ETPSNO AS iAreainEtpsno,
    I_AREA_CODE AS iAreaCode,
    I_COP_ENT_NO AS iCopEntNo,
    I_FLOW AS iFlow,
    I_CHK_EMAPV_MARKCD AS iChkEmapvMarkcd,
    IC_RECYCE_TIME AS icRecyceTime,
    E_TRANS_TYPE AS eTransType,
    E_TRANS_NO AS eTransNo,
    E_TRANS_NO1 AS eTransNo1,
    E_VEHICLE_FRAME_WT AS eVehicleFrameWt,
    E_AREAIN_ETPSNO AS eAreainEtpsno,
    E_AREA_CODE AS eAreaCode,
    EI_COP_ENT_NO AS eiCopEntNo,
    E_FLOW AS eFlow,
    E_CHK_EMAPV_MARKCD AS eChkEmapvMarkcd,
    WORK_FLAG_CODE AS workFlagCode,
    I_AREAIN_ETPSNM AS iAreainEtpsnm,
    E_VEHICLE_FRAME_NO AS eVehicleFrameNo,
    E_AREAIN_ETPSNM AS eAreainEtpsnm,
    RMK AS rmk,
    MASTER_CUSCD AS masterCuscd,
    AREA_CODE AS areaCode,
    BIZ_TYPE AS bizType,
    CHK_STATUS AS chkStatus,
    DOC_TYPE AS docType,
    RET_CHANNEL AS retChannel,
    DEC_TIME AS decTime,
    CHK_TIME AS chkTime,
    SEQ_NO AS seqNo,
    DCl_TYPECD AS dclTypecd,
    INPUTER_CODE AS inputerCode,
    INPUTER_NAME AS inputerName,
    INPUT_COP_NO AS inputCopNo,
    INPUT_COP_NAME AS inputCopName,
    CREATE_BY AS createBy,
    CREATE_NAME AS createName,
    CREATE_TIME AS createTime,
    UPDATE_BY AS updateBy,
    UPDATE_NAME AS updateName,
    UPDATE_TIME AS updateTime
  </sql>
  <select id="selectBySasVehicleIReg" resultType="com.powerbridge.bssp.sas.entity.SasVehicleIReg">
    SELECT
    <include refid="Base_Column_List" />
    FROM sas_vehicle_i_reg A
    <where>
      1 = 1
      <if test="vehicleNo != null and vehicleNo != ''">
        AND A.VEHICLE_NO = #{vehicleNo}<!--车牌号-->
      </if>
      <if test="icNo != null and icNo != ''">
        AND A.IC_NO = #{icNo}<!--IC卡编号-->
      </if>
      <if test="transTypecd != null and transTypecd != ''">
        AND A.TRANS_TYPECD = #{transTypecd}<!--运输类型代码-->
      </if>
      <if test="icTypecd != null and icTypecd != ''">
        AND A.IC_TYPECD = #{icTypecd}<!--IC卡类型-->
      </if>
      <if test="chkStatus != null and chkStatus != ''">
        AND A.CHK_STATUS = #{chkStatus}<!--单据状态-->
      </if>
      <if test="iRegDateStart != null and iRegDateStart !=''">
        AND A.I_REG_DATE <![CDATA[>=]]> #{iRegDateStart} <!-- 入区登记开始日期 -->
      </if>
      <if test="iRegDateEnd != null and iRegDateEnd !=''">
        AND A.I_REG_DATE <![CDATA[<=]]> '${iRegDateEnd} 23:59:59' <!-- 入区登记结束日期 -->
      </if>
      <if test="iTransNo != null and iTransNo != ''">
        AND A.I_TRANS_NO = #{iTransNo}<!--入区运输单编号-->
      </if>
      <if test="eTransNo != null and eTransNo != ''">
        AND A.E_TRANS_NO = #{eTransNo}<!--出区运输单编号-->
      </if>
    </where>
  </select>
</mapper>