<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.sas_cmb.dao.SasCmbImgMapper">

	<!--基本字段 -->
	<sql id="Base_Column_List">
		A.UID AS UID,
		A.CMB_NO AS CMBNO,
		A.CHG_TMS_CNT AS CHGTMSCNT,
		A.MTPCK_SEQNO AS MTPCKSEQNO,
		A.UCNS_NET_USEUP_QTY AS UCNSNETUSEUPQTY,
		A.RMK AS RMK,
		C.ATTR_NAME AS MODFMARKCD,
		A.SEQ_NO AS SEQNO
	</sql>
	<!--根据单据编号查询单损耗 -->
	<select id="selectSasCmbImgList" resultType="com.powerbridge.bssp.sas_cmb.entity.SasCmbImg">
		SELECT
		<include refid="Base_Column_List"/>
		FROM SAS_CMB_IMG A
		LEFT JOIN BSSP_COD.COD_STD_CODES C ON C.ATTR_VALUE =A.MODF_MARKCD AND C.DICTIONARY_VALUE='MODF_MARK' <!-- 修改标记 -->
	</select>
</mapper>