<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.cod_std.dao.CodStdEnttypeMapper">
    <resultMap id="BaseResultMap" type="com.powerbridge.bssp.cod_std.entity.CodStdEnttype">
        <id column="UID" jdbcType="VARCHAR" property="uid"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="IS_ENABLE" jdbcType="VARCHAR" property="isEnable"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updatetime"/>
    </resultMap>
<select id="selectRedisDropDown"  parameterType="java.lang.String" resultType="com.powerbridge.bssp.cod_std.entity.CodStdEnttype">
    SELECT CODE AS id,
    		NAME AS text 
    FROM COD_STD_ENT_TYPE
  </select>
</mapper>