<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.dcr.dao.DcrChgoffImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.powerbridge.bssp.dcr.entity.DcrChgoffImg">
        <id column="UID" property="uid" />
        <result column="EMS_NO" property="emsNo" />
        <result column="CHG_TMS_CNT" property="chgTmsCnt" />
        <result column="TYPECD" property="typecd" />
        <result column="GDS_SEQNO" property="gdsSeqno" />
        <result column="G_NO" property="gNo" />
        <result column="COP_G_NO" property="copGNo" />
        <result column="CODE_TS" property="codeTs" />
        <result column="G_NAME" property="gName" />
        <result column="UNIT" property="unit" />
        <result column="FIRST_QTY" property="firstQty" />
        <result column="SHD_REMAIN_QTY" property="shdRemainQty" />
        <result column="SHD_REMAIN_TOTAL_AMT" property="shdRemainTotalAmt" />
        <result column="ACTL_REMAIN_QTY" property="actlRemainQty" />
        <result column="ACTL_REMAIN_TOTAL_AMT" property="actlRemainTotalAmt" />
        <result column="CSM_TOTAL_QTY" property="csmTotalQty" />
        <result column="CSM_TOTAL_AMT" property="csmTotalAmt" />
        <result column="IMP_OR_EXP_TOTAL_QTY" property="impOrExpTotalQty" />
        <result column="SDIN_QTY" property="sdinQty" />
        <result column="SDIN_TOTAL_AMT" property="sdinTotalAmt" />
        <result column="ENDPRD_RETN_EXCH_EXP_QTY" property="endprdRetnExchExpQty" />
        <result column="ENDPRD_RETN_EXCH_IMP_QTY" property="endprdRetnExchImpQty" />
        <result column="LFMT_IMPR_QTY" property="lfmtImprQty" />
        <result column="LFMT_IMPR_TOTAL_AMT" property="lfmtImprTotalAmt" />
        <result column="DPRCS_CRDW_IMPEXP_QTY" property="dprcsCrdwImpexpQty" />
        <result column="REEXP_QTY" property="reexpQty" />
        <result column="REMAIN_MTPCK_TRFOUT_QTY" property="remainMtpckTrfoutQty" />
        <result column="MTPCK_ENDPRD_DSTRY_QTY" property="mtpckEndprdDstryQty" />
        <result column="LFMT_DSTRY_QTY" property="lfmtDstryQty" />
        <result column="VRFADD_QTY" property="vrfaddQty" />
        <result column="VRFRED_QTY" property="vrfredQty" />
        <result column="TGBL_LOSS_QTY" property="tgblLossQty" />
        <result column="INTGB_LOSS_QTY" property="intgbLossQty" />
        <result column="DSML_QTY" property="dsmlQty" />
        <result column="DSML_AMT" property="dsmlAmt" />
        <result column="TCYCLE_BAL_QTY" property="tcycleBalQty" />
        <result column="DCLCUS_INVT_AVG_UPRC_AMT" property="dclcusInvtAvgUprcAmt" />
        <result column="DSML_RATE" property="dsmlRate" />
        <result column="VCLR_PRID_INIT_QTY" property="vclrPridInitQty" />
        <result column="FST_SPARE_MARKCD" property="fstSpareMarkcd" />
        <result column="SPARE_AMT" property="spareAmt" />
        <result column="SPARE_QTY" property="spareQty" />
        <result column="RMK" property="rmk" />
        <result column="SEQ_NO" property="seqNo" />
    </resultMap>

    <sql id="Base_Column_List">
		A.UID AS UID,A.EMS_NO AS EMSNO,A.CHG_TMS_CNT AS CHGTMSCNT,A.TYPECD AS TYPECD,A.GDS_SEQNO AS GDSSEQNO,A.G_NO AS
        GNO,A.COP_G_NO AS COPGNO,A.CODE_TS AS CODETS,A.G_NAME AS GNAME,B.UNIT_NAME AS UNIT,A.FIRST_QTY AS FIRSTQTY,A.SHD_REMAIN_QTY AS
        SHDREMAINQTY,A.SHD_REMAIN_TOTAL_AMT AS SHDREMAINTOTALAMT,A.ACTL_REMAIN_QTY AS ACTLREMAINQTY,A.ACTL_REMAIN_TOTAL_AMT AS
        ACTLREMAINTOTALAMT,A.CSM_TOTAL_QTY AS CSMTOTALQTY,A.CSM_TOTAL_AMT AS CSMTOTALAMT,A.IMP_OR_EXP_TOTAL_QTY AS
        IMPOREXPTOTALQTY,A.SDIN_QTY AS SDINQTY,A.SDIN_TOTAL_AMT AS SDINTOTALAMT,A.ENDPRD_RETN_EXCH_EXP_QTY AS
        ENDPRDRETNEXCHEXPQTY,A.ENDPRD_RETN_EXCH_IMP_QTY AS ENDPRDRETNEXCHIMPQTY,A.LFMT_IMPR_QTY AS
        LFMTIMPRQTY,A.LFMT_IMPR_TOTAL_AMT AS LFMTIMPRTOTALAMT,A.DPRCS_CRDW_IMPEXP_QTY AS DPRCSCRDWIMPEXPQTY,A.REEXP_QTY AS
        REEXPQTY,A.REMAIN_MTPCK_TRFOUT_QTY AS REMAINMTPCKTRFOUTQTY,A.MTPCK_ENDPRD_DSTRY_QTY AS
        MTPCKENDPRDDSTRYQTY,A.LFMT_DSTRY_QTY AS LFMTDSTRYQTY,A.VRFADD_QTY AS VRFADDQTY,A.VRFRED_QTY AS VRFREDQTY,A.TGBL_LOSS_QTY
        AS TGBLLOSSQTY,A.INTGB_LOSS_QTY AS INTGBLOSSQTY,A.DSML_QTY AS DSMLQTY,A.DSML_AMT AS DSMLAMT,A.TCYCLE_BAL_QTY AS
        TCYCLEBALQTY,A.DCLCUS_INVT_AVG_UPRC_AMT AS DCLCUSINVTAVGUPRCAMT,A.DSML_RATE AS DSMLRATE,A.VCLR_PRID_INIT_QTY AS
        VCLRPRIDINITQTY,A.FST_SPARE_MARKCD AS FSTSPAREMARKCD,A.SPARE_AMT AS SPAREAMT,A.SPARE_QTY AS SPAREQTY,A.RMK AS RMK,A.SEQ_NO AS SEQNO
	</sql>
    <select id="selectByList" resultType="com.powerbridge.bssp.dcr.entity.DcrChgoffImg">
        SELECT
        <include refid="Base_Column_List"/>
        FROM DCR_CHGOFF_IMG A
        LEFT JOIN BSSP_COD.COD_CUS_UNIT B ON B.UNIT_CODE = A.UNIT  <!-- 计量单位 -->
        WHERE A.SEQ_NO = #{seqNo}
    </select>

    <update id="updateGdsSeqno">
        UPDATE DCR_CHGOFF_IMG SET GDS_SEQNO = GDS_SEQNO - 1 WHERE SEQ_NO = #{seqNo} AND GDS_SEQNO <![CDATA[>]]> #{gdsSeqno}
    </update>
</mapper>
