<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.erp.dao.ErpMidDtExgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.powerbridge.bssp.erp.entity.ErpMidDtExg">
		<id column="UID" property="uid" />
		<result column="GDS_MTNO" property="gdsMtno" />
		<result column="GDS_SEQNO" property="gdsSeqno" />
		<result column="GDECD" property="gdecd" />
		<result column="GDS_NM" property="gdsNm" />
		<result column="GDS_SPCF_MODEL_DESC" property="gdsSpcfModelDesc" />
		<result column="DCL_UNITCD" property="dclUnitcd" />
		<result column="LAWF_UNITCD" property="lawfUnitcd" />
		<result column="SECD_LAWF_UNITCD" property="secdLawfUnitcd" />
		<result column="LVYRLF_MODECD" property="lvyrlfModecd" />
		<result column="NATCD" property="natcd" />
		<result column="DCL_UPRC_AMT" property="dclUprcAmt" />
		<result column="DCL_CURRCD" property="dclCurrcd" />
		<result column="DCL_UPRC_AMT_RMB" property="dclUprcAmtRmb" />
		<result column="FST_SF_VAL" property="fstSfVal" />
		<result column="SECD_SF_VAL" property="secdSfVal" />
		<result column="WT_SF_VAL" property="wtSfVal" />
		<result column="ENG_GDS_NM" property="engGdsNm" />
		<result column="ENG_GDS_SPCF_MODEL_DESC" property="engGdsSpcfModelDesc" />
		<result column="ENT_UNITCD" property="entUnitcd" />
		<result column="ENT_SF_VAL" property="entSfVal" />
		<result column="RMK" property="rmk" />
		<result column="MODF_MARKCD" property="modfMarkcd" />
	</resultMap>

</mapper>
